In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('../../data/raw/Fire_Incidents.csv')

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (11,12,13,14,17,18,19,44,45,54,58) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Empty values

In [3]:
df[df['Location'].isnull()]

,Incident Number,Exposure Number,Address,Incident Date,Call Number,Alarm DtTm,Arrival DtTm,Close DtTm,City,Zipcode,...,Detector Effectiveness,Detector Failure Reason,Automatic Extinguishing System Present,Automatic Extinguishing Sytem Type,Automatic Extinguishing Sytem Perfomance,Automatic Extinguishing Sytem Failure Reason,Number of Sprinkler Heads Operating,Supervisor District,Neighborhood District,Location
150,18065472,0,Bayside Drive/ Gateview,06/03/2018,181543477,06/03/2018 09:52:30 PM,06/03/2018 09:56:12 PM,06/03/2018 09:56:38 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,18065442,0,Bayside Dr/gateview Ave.,06/03/2018,181543243,06/03/2018 08:24:08 PM,06/03/2018 08:27:47 PM,06/03/2018 08:28:07 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,18066225,0,Gateview/bayside,06/05/2018,181563203,06/05/2018 06:38:01 PM,06/05/2018 06:41:59 PM,06/05/2018 06:42:12 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,5094813,0,1 34th Av.,12/16/2005,53500197,12/16/2005 12:40:11 PM,12/16/2005 12:43:44 PM,12/16/2005 01:09:39 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1174,3029221,0,1545 Geary Bl.,04/11/2003,31010131,04/11/2003 09:15:43 AM,04/11/2003 09:18:03 AM,04/11/2003 10:23:29 AM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1732,4017815,0,590 Van Ness Av.,03/03/2004,40630219,03/03/2004 01:01:13 PM,03/03/2004 01:04:03 PM,03/03/2004 01:04:36 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1774,3092686,0,4824 3rd St.,11/19/2003,33230259,11/19/2003 02:34:18 PM,11/19/2003 02:38:19 PM,11/19/2003 02:49:56 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1832,3021240,0,2166 29th Av.,03/14/2003,30730386,03/14/2003 08:01:27 PM,03/14/2003 08:05:31 PM,03/14/2003 08:16:42 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989,3034718,0,2069 15th Av.,05/01/2003,31210175,05/01/2003 12:04:44 PM,05/01/2003 12:06:53 PM,05/01/2003 12:18:54 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2399,18079208,0,Gateview,07/05/2018,181863857,07/05/2018 09:36:27 PM,07/05/2018 09:41:22 PM,07/05/2018 09:57:03 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2477,18075709,0,Bayside Drive,06/27/2018,181783068,06/27/2018 06:21:58 PM,06/27/2018 06:26:01 PM,06/27/2018 06:26:23 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2689,18079193,0,13th,07/05/2018,181863741,07/05/2018 09:03:02 PM,07/05/2018 09:05:57 PM,07/05/2018 09:06:22 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2788,4010291,0,810 25th Av.,02/06/2004,40370177,02/06/2004 12:11:21 PM,02/06/2004 12:20:55 PM,02/06/2004 12:31:06 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3011,3081487,0,208 Monterey Bl.,10/11/2003,32840108,10/11/2003 10:18:43 AM,10/11/2003 10:23:53 AM,10/11/2003 11:13:08 AM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3012,18069449,0,Bayside Drive,06/13/2018,181641385,06/13/2018 10:59:41 AM,06/13/2018 11:01:02 AM,06/13/2018 11:01:14 AM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3144,3035333,0,50 Crisp Av.,05/03/2003,31230253,05/03/2003 01:48:41 PM,05/03/2003 02:10:58 PM,05/03/2003 02:56:38 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3516,3076907,0,258 Baltimore Wy.,09/24/2003,32670297,09/24/2003 04:25:58 PM,09/24/2003 04:30:10 PM,09/24/2003 04:37:52 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3582,19077305,0,1252 Howard Street,06/30/2019,191811499,06/30/2019 12:02:59 PM,06/30/2019 12:12:38 PM,06/30/2019 12:14:55 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4143,3060301,0,525 Holloway Av.,07/29/2003,32100252,07/29/2003 02:34:11 PM,07/29/2003 03:30:10 PM,07/29/2003 03:30:40 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4218,4022764,0,19th Av. / Cabrillo St.,03/19/2004,40790189,03/19/2004 01:15:19 PM,03/19/2004 01:18:00 PM,03/19/2004 01:18:33 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4354,3073254,0,250 Manseau St.,09/12/2003,32550470,09/12/2003 09:03:12 PM,09/12/2003 09:07:40 PM,09/12/2003 09:16:50 PM,HP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4680,3018573,0,178 Potrero Av.,03/06/2003,30650027,03/06/2003 01:47:05 AM,03/06/2003 02:03:04 AM,03/06/2003 02:04:07 AM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4729,3096312,0,311 Grafton Av.,12/03/2003,33370018,12/03/2003 02:04:12 AM,12/03/2003 02:07:53 AM,12/03/2003 02:20:48 AM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4897,3003733,0,558 26th Av.,01/13/2003,30130121,01/13/2003 09:48:06 AM,01/13/2003 09:48:06 AM,01/13/2003 09:56:34 AM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4994,18089731,0,13th St.,07/31/2018,182123218,07/31/2018 06:33:02 PM,07/31/2018 06:36:19 PM,07/31/2018 06:37:19 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5052,3081507,0,27th St. / Sanchez St.,10/11/2003,32840141,10/11/2003 11:33:42 AM,10/11/2003 11:36:57 AM,10/11/2003 11:39:11 AM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5380,3065286,0,2516 Pacific Av.,08/15/2003,32270338,08/15/2003 09:15:22 PM,08/15/2003 09:18:33 PM,08/15/2003 09:24:12 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5565,3028133,0,555 Florida St.,04/07/2003,30970237,04/07/2003 02:15:45 PM,04/07/2003 02:18:36 PM,04/07/2003 02:21:48 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5567,19092436,0,Bayside Drive,08/05/2019,192174138,08/05/2019 10:23:45 PM,08/05/2019 10:27:42 PM,08/05/2019 10:28:28 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5732,3011277,0,345 Andover St.,02/08/2003,30390316,02/08/2003 04:30:57 PM,02/08/2003 04:34:54 PM,02/08/2003 04:35:26 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443430,15085523,0,1745 Revere,08/12/2015,152243429,08/12/2015 08:08:17 PM,08/12/2015 08:12:41 PM,08/12/2015 08:15:12 PM,San Francisco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
443563,15113425,0,Sfo,10/22/2015,152952509,10/22/2015 04:19:29 PM,10/22/2015 04:19:29 PM,10/22/2015 04:19:29 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445218,15116098,0,141 Eddy Street,10/30/2015,153030539,10/30/2015 06:17:06 AM,10/30/2015 06:21:39 AM,10/30/2015 06:30:05 AM,San Francisco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445819,15046191,0,172 6th Street,05/02/2015,151220859,05/02/2015 08:32:34 AM,05/02/2015 08:36:07 AM,05/02/2015 08:39:28 AM,San Francisco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446427,15034246,0,Mission St/ney Street,03/31/2015,150901190,03/31/2015 10:43:57 AM,03/31/2015 10:51:40 AM,03/31/2015 10:52:39 AM,San Francisco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451434,17024125,0,1 Saint Francis Pl #Bldg 4-2nd Place,02/25/2017,170561546,02/25/2017 12:21:32 PM,02/25/2017 12:27:14 PM,02/25/2017 12:40:54 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456052,16112460,0,1947 41st Avenue,10/09/2016,162831395,10/09/2016 10:37:24 AM,10/09/2016 10:42:54 AM,10/09/2016 10:49:36 AM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
457413,16072524,0,908 Connecticut Street,07/01/2016,161833753,07/01/2016 10:34:15 PM,07/01/2016 10:39:20 PM,07/01/2016 11:03:36 PM,San Francisco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
459501,16075530,0,1 Ti,07/09/2016,161912102,07/09/2016 04:42:58 PM,07/09/2016 04:42:58 PM,07/09/2016 04:51:21 PM,Treasure Isla,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460360,16136833,0,Seneca Hotel Sro,12/08/2016,163430764,12/08/2016 08:26:34 AM,12/08/2016 08:33:05 AM,12/08/2016 08:35:52 AM,San Francisco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468058,17088879,0,0 3rd,07/31/2017,172121279,07/31/2017 10:26:09 AM,07/31/2017 10:26:09 AM,07/31/2017 10:31:24 AM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468147,17085713,0,2136 Broderick Street,07/23/2017,172041251,07/23/2017 10:30:29 AM,07/23/2017 10:34:09 AM,07/23/2017 10:42:19 AM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468950,17032072,0,1531 Hyde Street,03/16/2017,170750284,03/16/2017 02:55:26 AM,03/16/2017 02:58:35 AM,03/16/2017 03:14:10 AM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
473332,17021362,0,0 Folsom Place,02/18/2017,170492368,02/18/2017 03:09:44 PM,02/18/2017 03:14:55 PM,02/18/2017 04:39:49 PM,San Francisco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
475777,17115667,0,0 El Camino Del Mar,10/02/2017,172752038,10/02/2017 01:02:45 PM,10/02/2017 01:07:29 PM,10/02/2017 02:22:36 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
482633,17023812,0,200 Central Avenue,02/24/2017,170552720,02/24/2017 04:27:16 PM,02/24/2017 04:27:16 PM,02/24/2017 04:28:13 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
483027,17012534,0,Llw/post Street,01/28/2017,170283980,01/28/2017 11:52:20 PM,01/28/2017 11:55:15 PM,01/29/2017 12:45:21 AM,San Francisco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489034,18031371,0,25th,03/15/2018,180740239,03/15/2018 02:43:34 AM,03/15/2018 02:48:11 AM,03/15/2018 03:21:11 AM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490244,18009627,0,"351 Avenue H, Ti",01/23/2018,180230842,01/23/2018 08:55:01 AM,01/23/2018 09:00:09 AM,01/23/2018 09:10:45 AM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490324,17144934,0,0 Oxford Street,12/12/2017,173460758,12/12/2017 08:14:47 AM,12/12/2017 08:20:12 AM,12/12/2017 08:23:49 AM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493209,18025478,0,998 Hampshire Street,03/01/2018,180600609,03/01/2018 07:15:41 AM,03/01/2018 07:17:51 AM,03/01/2018 07:25:53 AM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
494819,17138474,0,2531 Blanding Avenue,11/26/2017,173300821,11/26/2017 08:35:07 AM,11/26/2017 08:35:07 AM,11/26/2017 01:03:32 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498692,17121173,0,771 Cole Street,10/15/2017,172881898,10/15/2017 01:18:46 PM,10/15/2017 01:21:21 PM,10/15/2017 01:27:48 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502074,18035828,0,550 Gene Friend Way,03/25/2018,180842804,03/25/2018 06:24:44 PM,03/25/2018 06:28:04 PM,03/25/2018 06:40:07 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502954,17097218,0,NaN,08/21/2017,172330389,08/21/2017 05:00:32 AM,08/21/2017 05:00:32 AM,08/21/2017 05:09:36 AM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503119,17107254,0,299 Fremont St #10thflr,09/11/2017,172543751,09/11/2017 06:57:44 PM,09/11/2017 07:03:56 PM,09/11/2017 07:13:36 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
504462,18010456,0,2450 Market Street,01/25/2018,180251010,01/25/2018 09:06:11 AM,01/25/2018 09:08:21 AM,01/25/2018 09:25:06 AM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
508251,18065217,0,Bayside Dr,06/03/2018,181541201,06/03/2018 10:20:29 AM,06/03/2018 10:24:57 AM,06/03/2018 10:25:24 AM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509247,18009436,0,456 Montgomery Street,01/22/2018,180223169,01/22/2018 06:39:45 PM,01/22/2018 06:43:04 PM,01/22/2018 06:46:41 PM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
512873,18016145,0,Octavia/market,02/07/2018,180380560,02/07/2018 07:21:25 AM,02/07/2018 07:26:15 AM,02/07/2018 07:28:07 AM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.dtypes

Incident Number                                   int64
Exposure Number                                   int64
Address                                          object
Incident Date                                    object
Call Number                                       int64
Alarm DtTm                                       object
Arrival DtTm                                     object
Close DtTm                                       object
City                                             object
Zipcode                                         float64
Battalion                                        object
Station Area                                     object
Box                                              object
Suppression Units                                object
Suppression Personnel                            object
EMS Units                                         int64
EMS Personnel                                     int64
Other Units                                      object
Other Personnel                                  object
First Unit On Scene                              object
Estimated Property Loss                          object
Estimated Contents Loss                          object
Fire Fatalities                                   int64
Fire Injuries                                     int64
Civilian Fatalities                               int64
Civilian Injuries                                 int64
Number of Alarms                                float64
Primary Situation                                object
Mutual Aid                                       object
Action Taken Primary                             object
                                                 ...
Property Use                                     object
Area of Fire Origin                              object
Ignition Cause                                   object
Ignition Factor Primary                          object
Ignition Factor Secondary                        object
Heat Source                                      object
Item First Ignited                               object
Human Factors Associated with Ignition           object
Structure Type                                   object
Structure Status                                 object
Floor of Fire Origin                            float64
Fire Spread                                      object
No Flame Spead                                   object
Number of floors with minimum damage            float64
Number of floors with significant damage        float64
Number of floors with heavy damage              float64
Number of floors with extreme damage            float64
Detectors Present                                object
Detector Type                                    object
Detector Operation                               object
Detector Effectiveness                           object
Detector Failure Reason                          object
Automatic Extinguishing System Present           object
Automatic Extinguishing Sytem Type               object
Automatic Extinguishing Sytem Perfomance         object
Automatic Extinguishing Sytem Failure Reason     object
Number of Sprinkler Heads Operating             float64
Supervisor District                             float64
Neighborhood  District                           object
Location                                         object
Length: 63, dtype: object

In [5]:
df = df.dropna(subset=['Location'])
print("Rows with nan location: ", df[df['Location'].isnull()].shape[0]

Rows with nan location:  0

## Datetime objects

Convert to datetime object

In [6]:
df['Alarm DtTm'] = pd.to_datetime(df['Alarm DtTm'] )
df['Arrival DtTm'] = pd.to_datetime(df['Arrival DtTm'] )
df['Close DtTm'] = pd.to_datetime(df['Close DtTm'] )

In [7]:
df.dtypes

Incident Number                                          int64
Exposure Number                                          int64
Address                                                 object
Incident Date                                           object
Call Number                                              int64
Alarm DtTm                                      datetime64[ns]
Arrival DtTm                                    datetime64[ns]
Close DtTm                                      datetime64[ns]
City                                                    object
Zipcode                                                float64
Battalion                                               object
Station Area                                            object
Box                                                     object
Suppression Units                                       object
Suppression Personnel                                   object
EMS Units                                                int64
EMS Personnel                                            int64
Other Units                                             object
Other Personnel                                         object
First Unit On Scene                                     object
Estimated Property Loss                                 object
Estimated Contents Loss                                 object
Fire Fatalities                                          int64
Fire Injuries                                            int64
Civilian Fatalities                                      int64
Civilian Injuries                                        int64
Number of Alarms                                       float64
Primary Situation                                       object
Mutual Aid                                              object
Action Taken Primary                                    object
                                                     ...
Property Use                                            object
Area of Fire Origin                                     object
Ignition Cause                                          object
Ignition Factor Primary                                 object
Ignition Factor Secondary                               object
Heat Source                                             object
Item First Ignited                                      object
Human Factors Associated with Ignition                  object
Structure Type                                          object
Structure Status                                        object
Floor of Fire Origin                                   float64
Fire Spread                                             object
No Flame Spead                                          object
Number of floors with minimum damage                   float64
Number of floors with significant damage               float64
Number of floors with heavy damage                     float64
Number of floors with extreme damage                   float64
Detectors Present                                       object
Detector Type                                           object
Detector Operation                                      object
Detector Effectiveness                                  object
Detector Failure Reason                                 object
Automatic Extinguishing System Present                  object
Automatic Extinguishing Sytem Type                      object
Automatic Extinguishing Sytem Perfomance                object
Automatic Extinguishing Sytem Failure Reason            object
Number of Sprinkler Heads Operating                    float64
Supervisor District                                    float64
Neighborhood  District                                  object
Location                                                object
Length: 63, dtype: object

We will take the alarm dttm for the year, month and day of the eviction

In [8]:
df['Year'] = df['Alarm DtTm'].dt.year
df['Month'] = df['Alarm DtTm'].dt.month
df['Day'] = df['Alarm DtTm'].dt.day

In [9]:
df.head()

,Incident Number,Exposure Number,Address,Incident Date,Call Number,Alarm DtTm,Arrival DtTm,Close DtTm,City,Zipcode,...,Automatic Extinguishing Sytem Type,Automatic Extinguishing Sytem Perfomance,Automatic Extinguishing Sytem Failure Reason,Number of Sprinkler Heads Operating,Supervisor District,Neighborhood District,Location,Year,Month,Day
0,18055336,0,Nevada,05/10/2018,181304109,2018-05-10 20:16:42,2018-05-10 20:20:40,2018-05-10 20:20:57,San Francisco,94110.0,...,NaN,NaN,NaN,NaN,9.0,Bernal Heights,POINT (-122.411827 37.73464000003),2018,5,10
1,18064032,0,295 Graystone Tr 3,05/31/2018,181513174,2018-05-31 18:24:22,2018-05-31 18:29:36,2018-05-31 19:38:57,San Francisco,94114.0,...,NaN,NaN,NaN,NaN,8.0,Castro/Upper Market,POINT (-122.443993 37.75682300003),2018,5,31
2,18065596,0,Columbus St,06/04/2018,181550808,2018-06-04 08:47:07,2018-06-04 08:51:32,2018-06-04 08:51:32,San Francisco,94133.0,...,NaN,NaN,NaN,NaN,3.0,North Beach,POINT (-122.416891 37.80521200003),2018,6,4
3,17107248,0,21 Columbia Square Street,09/11/2017,172543713,2017-09-11 18:48:56,2017-09-11 18:54:38,2017-09-11 19:10:49,San Francisco,94103.0,...,NaN,NaN,NaN,NaN,6.0,South of Market,POINT (-122.406028 37.77762400003),2017,9,11
4,18065452,0,Ellis,06/03/2018,181543312,2018-06-03 20:52:58,2018-06-03 20:58:28,2018-06-03 21:03:55,San Francisco,94102.0,...,NaN,NaN,NaN,NaN,6.0,Tenderloin,POINT (-122.411141 37.78507300003),2018,6,3

## Location coordinates

In [10]:
df['Location'] = df['Location'].str.extract(r"\((.*?)\)", expand=False)
new = df["Location"].str.split(" ", n = 1, expand = True) 
new

                  0               1
0       -122.411827  37.73464000003
1       -122.443993  37.75682300003
2       -122.416891  37.80521200003
3       -122.406028  37.77762400003
4       -122.411141  37.78507300003
5       -122.455443  37.71401400003
6       -122.400394  37.78504300003
7       -122.416829  37.78817900003
8       -122.396102  37.75406000003
9       -122.405221  37.76205400003
10      -122.411833  37.78336500003
11      -122.505795  37.75855900003
12      -122.415125  37.78354300003
13      -122.410374  37.78207000003
14      -122.410735  37.77077600003
15      -122.442443  37.75534000003
16      -122.508213  37.76116600003
17      -122.391567  37.77988600003
18      -122.431256  37.76892900003
19       -122.41297  37.78105000003
20        -122.4095  37.78528400003
21      -122.394789  37.74720900003
22      -122.502317  37.75495100003
23      -122.402701  37.74633600003
24      -122.400145  37.71347500003
25      -122.478663  37.75046900003
26      -122.434426  37.72517600003
27       -122.41992  37.76673700003
28      -122.403703  37.77688100003
29      -122.401667  37.78663000003
...             ...             ...
512961  -122.424413  37.76800500003
512962  -122.481219  37.77485800003
512963  -122.434595  37.76823900003
512964  -122.414455  37.78281200003
512965  -122.396846  37.79851000003
512966  -122.399669  37.79727100003
512967  -122.499082  37.75359200003
512968  -122.401847  37.77903200003
512969  -122.466179  37.74058500003
512970  -122.419183  37.78309900003
512971  -122.440884  37.77754500003
512972  -122.419088  37.80780100003
512973  -122.502637  37.74005700003
512974  -122.427171  37.76055700003
512975  -122.406312  37.75541000003
512976  -122.445323  37.79781700003
512977  -122.414371  37.77404200003
512978  -122.418386  37.78327100003
512979  -122.430724  37.80689500003
512980  -122.446022  37.75872300003
512981  -122.470434  37.77693900003
512982  -122.396305  37.79325700003
512983  -122.412414  37.78300400003
512984  -122.413103  37.78570300003
512985   -122.41092  37.79189100003
512986  -122.414693  37.75962500003
512987  -122.403306  37.71476900003
512988  -122.457969  37.78123200003
512989   -122.41974  37.78589300003
512990  -122.441924  37.78875900003

[449228 rows x 2 columns]

In [11]:
df["X"] = new[0] 
df["Y"] = new[1]
df.head(10)

,Incident Number,Exposure Number,Address,Incident Date,Call Number,Alarm DtTm,Arrival DtTm,Close DtTm,City,Zipcode,...,Automatic Extinguishing Sytem Failure Reason,Number of Sprinkler Heads Operating,Supervisor District,Neighborhood District,Location,Year,Month,Day,X,Y
0,18055336,0,Nevada,05/10/2018,181304109,2018-05-10 20:16:42,2018-05-10 20:20:40,2018-05-10 20:20:57,San Francisco,94110.0,...,NaN,NaN,9.0,Bernal Heights,-122.411827 37.73464000003,2018,5,10,-122.411827,37.73464000003
1,18064032,0,295 Graystone Tr 3,05/31/2018,181513174,2018-05-31 18:24:22,2018-05-31 18:29:36,2018-05-31 19:38:57,San Francisco,94114.0,...,NaN,NaN,8.0,Castro/Upper Market,-122.443993 37.75682300003,2018,5,31,-122.443993,37.75682300003
2,18065596,0,Columbus St,06/04/2018,181550808,2018-06-04 08:47:07,2018-06-04 08:51:32,2018-06-04 08:51:32,San Francisco,94133.0,...,NaN,NaN,3.0,North Beach,-122.416891 37.80521200003,2018,6,4,-122.416891,37.80521200003
3,17107248,0,21 Columbia Square Street,09/11/2017,172543713,2017-09-11 18:48:56,2017-09-11 18:54:38,2017-09-11 19:10:49,San Francisco,94103.0,...,NaN,NaN,6.0,South of Market,-122.406028 37.77762400003,2017,9,11,-122.406028,37.77762400003
4,18065452,0,Ellis,06/03/2018,181543312,2018-06-03 20:52:58,2018-06-03 20:58:28,2018-06-03 21:03:55,San Francisco,94102.0,...,NaN,NaN,6.0,Tenderloin,-122.411141 37.78507300003,2018,6,3,-122.411141,37.78507300003
5,18065725,0,85 Farallones Street,06/04/2018,181552079,2018-06-04 14:12:04,2018-06-04 14:15:14,2018-06-04 15:59:24,San Francisco,94112.0,...,NaN,NaN,11.0,Oceanview/Merced/Ingleside,-122.455443 37.71401400003,2018,6,4,-122.455443,37.71401400003
6,17141193,0,201 3rd Street,12/03/2017,173370970,2017-12-03 09:07:58,2017-12-03 09:11:53,2017-12-03 09:23:25,San Francisco,94105.0,...,NaN,NaN,6.0,Financial District/South Beach,-122.400394 37.78504300003,2017,12,3,-122.400394,37.78504300003
7,18065786,0,Hyde St,06/04/2018,181552716,2018-06-04 16:53:29,2018-06-04 16:55:59,2018-06-04 16:56:24,San Francisco,94109.0,...,NaN,NaN,3.0,Nob Hill,-122.416829 37.78817900003,2018,6,4,-122.416829,37.78817900003
8,18004459,0,62 Dakota Street,01/10/2018,180103260,2018-01-10 17:41:07,2018-01-10 17:46:08,2018-01-10 18:06:05,San Francisco,94107.0,...,NaN,NaN,10.0,Potrero Hill,-122.396102 37.75406000003,2018,1,10,-122.396102,37.75406000003
9,18062384,0,1 101sb,05/27/2018,181473346,2018-05-27 19:53:29,2018-05-27 20:01:46,2018-05-27 20:36:46,San Francisco,94107.0,...,NaN,NaN,10.0,Potrero Hill,-122.405221 37.76205400003,2018,5,27,-122.405221,37.76205400003

## Nan values (for columns that match other datasets)

In [18]:
for col in df:
    print(col, df[col].isnull().sum() )

Incident Number 0
Exposure Number 0
Address 237
Incident Date 0
Call Number 0
Alarm DtTm 0
Arrival DtTm 38
Close DtTm 1
City 1505
Zipcode 9148
Battalion 0
Station Area 787
Box 239856
Suppression Units 0
Suppression Personnel 0
EMS Units 0
EMS Personnel 0
Other Units 0
Other Personnel 0
First Unit On Scene 181693
Estimated Property Loss 346747
Estimated Contents Loss 340754
Fire Fatalities 0
Fire Injuries 0
Civilian Fatalities 0
Civilian Injuries 0
Number of Alarms 449228
Primary Situation 0
Mutual Aid 0
Action Taken Primary 1
Action Taken Secondary 163310
Action Taken Other 175492
Detector Alerted Occupants 170530
Property Use 726
Area of Fire Origin 424318
Ignition Cause 424321
Ignition Factor Primary 424322
Ignition Factor Secondary 430760
Heat Source 424319
Item First Ignited 424321
Human Factors Associated with Ignition 424332
Structure Type 439849
Structure Status 439977
Floor of Fire Origin 442556
Fire Spread 441719
No Flame Spead 268490
Number of floors with minimum damage 444249
Number of floors with significant damage 444258
Number of floors with heavy damage 444268
Number of floors with extreme damage 444269
Detectors Present 439985
Detector Type 440783
Detector Operation 440783
Detector Effectiveness 441083
Detector Failure Reason 441684
Automatic Extinguishing System Present 439941
Automatic Extinguishing Sytem Type 441298
Automatic Extinguishing Sytem Perfomance 441298
Automatic Extinguishing Sytem Failure Reason 441709
Number of Sprinkler Heads Operating 444104
Supervisor District 9168
Neighborhood  District 9298
Location 0
Year 0
Month 0
Day 0
X 0
Y 0

In [22]:
df[df['Supervisor District'].isnull()].head()

,Incident Number,Exposure Number,Address,Incident Date,Call Number,Alarm DtTm,Arrival DtTm,Close DtTm,City,Zipcode,...,Automatic Extinguishing Sytem Failure Reason,Number of Sprinkler Heads Operating,Supervisor District,Neighborhood District,Location,Year,Month,Day,X,Y
1092,18068838,0,994 101,06/11/2018,181623202,2018-06-11 19:28:50,2018-06-11 19:36:05,2018-06-11 20:33:23,San Francisco,NaN,...,NaN,NaN,NaN,NaN,-122.477641 37.81299700003,2018,6,11,-122.477641,37.81299700003
1134,18069166,0,994 101,06/12/2018,181632725,2018-06-12 16:36:07,2018-06-12 16:43:23,2018-06-12 19:16:56,San Francisco,NaN,...,NaN,NaN,NaN,NaN,-122.477641 37.81299700003,2018,6,12,-122.477641,37.81299700003
1247,18066739,0,800 80 Eb Bay,06/06/2018,181573566,2018-06-06 20:16:18,2018-06-06 20:25:24,2018-06-06 22:07:33,San Francisco,NaN,...,NaN,NaN,NaN,NaN,-122.337061 37.82063300003,2018,6,6,-122.337061,37.82063300003
2465,18077238,0,994 101,07/01/2018,181821665,2018-07-01 13:19:33,2018-07-01 13:27:50,2018-07-01 13:39:39,San Francisco,NaN,...,NaN,NaN,NaN,NaN,-122.477641 37.81299700003,2018,7,1,-122.477641,37.81299700003
2653,18078998,0,1 Sf Intl Airport,07/05/2018,181861963,2018-07-05 12:50:45,2018-07-05 12:50:45,2018-07-05 12:52:25,NaN,NaN,...,NaN,NaN,NaN,NaN,-122.38416 37.61690100003,2018,7,5,-122.38416,37.61690100003

In [24]:
df = df.dropna(subset=['Supervisor District'])
print("Rows with nan Supervisor District: ", df[df['Supervisor District'].isnull()].shape[0])

Rows with nan Supervisor District:  0

In [32]:
df.rename(columns={'Neighborhood  District':'Neighborhood District'},
          inplace=True)
df[df['Neighborhood District'].isnull()].head()

,Incident Number,Exposure Number,Address,Incident Date,Call Number,Alarm DtTm,Arrival DtTm,Close DtTm,City,Zipcode,...,Automatic Extinguishing Sytem Failure Reason,Number of Sprinkler Heads Operating,Supervisor District,Neighborhood District,Location,Year,Month,Day,X,Y
3777,18084166,0,Fell,07/17/2018,181983956,2018-07-17 22:09:37,2018-07-17 22:14:37,2018-07-17 22:19:36,San Francisco,94117.0,...,NaN,NaN,5.0,NaN,-122.442565 37.77342400003,2018,7,17,-122.442565,37.77342400003
7274,18011462,0,975 3rd Street,01/27/2018,180272228,2018-01-27 15:14:06,2018-01-27 15:17:27,2018-01-27 15:23:24,San Francisco,NaN,...,NaN,NaN,6.0,NaN,-122.390164 37.77676700003,2018,1,27,-122.390164,37.77676700003
11977,18116329,0,270 Channel Street,10/04/2018,182773656,2018-10-04 18:42:02,2018-10-04 18:45:59,2018-10-04 18:53:16,San Francisco,94158.0,...,NaN,NaN,6.0,NaN,-122.393872 37.77340000003,2018,10,4,-122.393872,37.77340000003
14898,18127484,0,1050 4th Street,10/31/2018,183042436,2018-10-31 14:20:34,2018-10-31 14:23:19,2018-10-31 16:31:44,San Francisco,94158.0,...,NaN,NaN,6.0,NaN,-122.392117 37.77475300003,2018,10,31,-122.392117,37.77475300003
18040,18136723,0,Visitacion Avenue,11/21/2018,183253385,2018-11-21 20:10:12,2018-11-21 20:23:31,2018-11-21 21:13:50,San Francisco,94134.0,...,NaN,NaN,10.0,NaN,-122.415291 37.71350400003,2018,11,21,-122.415291,37.71350400003

In [33]:
df = df.dropna(subset=['Neighborhood District'])
print("Rows with nan Neighborhood District: ", df[df['Neighborhood District'].isnull()].shape[0])

Rows with nan Neighborhood District:  0

Finally for readibility between data sets, we will apply lower case to all values

In [34]:
df = df.apply(lambda x: x.astype(str).str.lower())
df.head()

,Incident Number,Exposure Number,Address,Incident Date,Call Number,Alarm DtTm,Arrival DtTm,Close DtTm,City,Zipcode,...,Automatic Extinguishing Sytem Failure Reason,Number of Sprinkler Heads Operating,Supervisor District,Neighborhood District,Location,Year,Month,Day,X,Y
0,18055336,0,nevada,05/10/2018,181304109,2018-05-10 20:16:42,2018-05-10 20:20:40,2018-05-10 20:20:57,san francisco,94110.0,...,nan,nan,9.0,bernal heights,-122.411827 37.73464000003,2018,5,10,-122.411827,37.73464000003
1,18064032,0,295 graystone tr 3,05/31/2018,181513174,2018-05-31 18:24:22,2018-05-31 18:29:36,2018-05-31 19:38:57,san francisco,94114.0,...,nan,nan,8.0,castro/upper market,-122.443993 37.75682300003,2018,5,31,-122.443993,37.75682300003
2,18065596,0,columbus st,06/04/2018,181550808,2018-06-04 08:47:07,2018-06-04 08:51:32,2018-06-04 08:51:32,san francisco,94133.0,...,nan,nan,3.0,north beach,-122.416891 37.80521200003,2018,6,4,-122.416891,37.80521200003
3,17107248,0,21 columbia square street,09/11/2017,172543713,2017-09-11 18:48:56,2017-09-11 18:54:38,2017-09-11 19:10:49,san francisco,94103.0,...,nan,nan,6.0,south of market,-122.406028 37.77762400003,2017,9,11,-122.406028,37.77762400003
4,18065452,0,ellis,06/03/2018,181543312,2018-06-03 20:52:58,2018-06-03 20:58:28,2018-06-03 21:03:55,san francisco,94102.0,...,nan,nan,6.0,tenderloin,-122.411141 37.78507300003,2018,6,3,-122.411141,37.78507300003

In [36]:
print("Min date: ",min(df['Alarm DtTm']))
print("Max date: ",max(df['Alarm DtTm']))

Min date:  2003-01-01 00:02:13
Max date:  2019-12-01 06:35:11

In [35]:
df.to_csv('../../data/processed/fireIncidents.csv')